## Rename this file to `dev.env` so it takes effect in your environment.
## Note that `.env` is ignored in source control.
## To compile, run the task for the relevant environment. If the .env
## file is an .env.dev file, configure an npm run build-dev in the package.json.

# The bot's token used to login to Discord
DISCORD_TOKEN=your_token_goes_here

# The client id of the bot application
CLIENT_ID=your_client_id_goes_here

# The id of the guild used to test/develop the bot
DEV_GUILD_ID=your_dev_guild_id_goes_here

# The name of the database in which to store data
DATABASE_NAME=database

# The username credential to log into the database
DATABASE_USER=admin

# The password credential to log into the database
DATABASE_PASSWORD=1234

# The address to the database host (typically localhost)
DATABASE_HOST=localhost

# The type of database being used (see Sequelize module to learn more)
DATABASE_DIALECT=sqlite
